.custom-cursor {
  position: fixed;
  width: 0.4vw;
  height: 0.4vw;
  background-color: red;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.05s ease-out;
  z-index: 9999;
}

.cursor-outline {
  position: fixed;
  width: 2vw;
  height: 2vw;
  border: 0.15vw solid red;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-out;
  z-index: 4998;
  opacity: 0.7;
}
