.drop-area {
  padding: 2rem;
  border-radius: 0.8rem;
  background: rgba(255, 255, 255, 0.3);
  border: 0.15rem solid rgba(0, 123, 255, 0.2);
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.drop-area:hover {
  background: rgba(255, 255, 255, 0.5);
  border: 0.15rem solid rgba(0, 123, 255, 0.4);
}
