body,
button,
input,
textarea,
a {
  cursor: none;
}

/* Body Background */
body {
  font-family: "Manrope", sans-serif;
  background: radial-gradient(
      circle at top left,
      rgba(0, 123, 255, 0.15),
      transparent
    ),
    #f8f9fb;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
