@media (max-width: 768px) {
  .upload-box {
    width: 80vw;
    padding: 1.5rem;
  }

  .custom-cursor {
    width: 1.2vw;
    height: 1.2vw;
  }

  .cursor-outline {
    width: 5vw;
    height: 5vw;
  }
}
